---
on:
    workflow_call:

jobs:
    ruff:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6.0.0
            - uses: astral-sh/ruff-action@v3
              with:
                  version: latest
            - run: ruff check
            - run: ruff format --check
