---
name: Yaml Lint
on:
  pull_request:
    types: [edited, opened, reopened, synchronize]
jobs:
  yaml-lint:
    name: YAML lint
    permissions:
      contents: read
    uses: ./.github/workflows/reusable-yaml-lint.yml
